
<body>

  <div class="edit">
    <div>
      <%= form_for @ifthen do |f| %>
        <%= f.text_area :ifthen, placeholder: "もし・いつ", class: "textlines-edit-ifthen" %> 
        <br>
        <%= f.text_area :todo, placeholder: "もし・いつ", class: "textlines-edit-ifthen" %>
        <br>
        <%= f.text_area :memo, placeholder: "メモ", class: "textlines-edit-ifthen" %>
        <br>
        <%= f.submit "編集する", class: "btn-submit" %>
      <% end %>
    </div>
  </div>

</body>