
<body>

    <h1 class="ifthen-index-title">if・thenプランニングで武装する</h1>
    <h3 class="ifthen-index-koremade">これまでの記録</h3>
    <%= Ifthen.count %>
    <% @ifthen.each do |t| %>
        <% if user_signed_in? && current_user.id == t.user_id %>
            <div class="ifthen-index-container">
                <div class="ifthen-index-mainbox">
                    <div class="ifthen-index-ifthen"><%= t.ifthen %></div>
                    <div class="ifthen-index-ifthen"><%= t.todo %></div>
                    <div class="ifthen-index-ifthen"><p>Memo:</p><%= t.memo %></div>
                </div>
                <div class="ifthen-index-subbox">
                <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_ifthen_path(t.id)) %>
                <%= link_to content_tag(:i, '', class: 'fas fa-trash'), ifthen_path(t.id), method: :delete, data: { confirm: "「#{t.ifthen}#{t.todo}」を削除して大丈夫ですか？" } %>
                    <p class="ifthen-index-time"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                </div>  
            </div>
            <br>
        <% end %>
    <% end %>

</body>

<style>

    .ifthen-index-container{
        background-color:white;
        border: solid;
        border-radius: 20px;
        border-color: gray;
        border-width: thin;
        width:60% ;
        margin: 0 auto;
    }


    .container1{
        font-size: 24px;
        margin: 10px;
    }

    .container2{
        margin: 10px;
        text-align: left;
    }


    .ifthen-index-koremade{
        text-align:center;
    }

    .ifthen-index-mainbox{
        padding-top: 20px;
        padding-left: 20px;
    }

    .ifthen-index-subbox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

    .btn-edit{
    margin-right: 10px;
    }

    body{
        background-attachment: fixed;
    }

</style>