
<% if user_signed_in? %>

    <h1 class="ifthen-new-title">if・thenプランニングで武装する</h1>

    <div class="ifthen-new-input">
        <%= form_for @ifthen do |f| %>
            <br>
            <%= f.text_area :ifthen ,id:"ifthen", placeholder: "もし・いつ" %>
            <br>
            <br>
            <%= f.text_area :todo ,id:"todo", placeholder: "どうする" %>
            <br>
            <br>
            <%= f.submit "送信", class: "btn-submit" %>
        <% end %>

    </div>

<% else %>
    
<div class="pleaselogin-container">
    <p class="pleaselogin">ログインユーザーのみ利用できます。</p>
    <div class="pleaselogin-button">
        <%= button_to "ログイン", new_user_session_path, method: :get, :class => "hello-index-login" %>
        <%= button_to "新規登録", new_user_registration_path, method: :get, :class=>"hello-index-sinki"  %>
    </div>
</div>

<% end %>

<style>

    .ifthen-new-title{
        text-align: center;
    }
</style>