
<html>

    <!--
        <h1>Users#show</h1>
        <p>Find me in app/views/users/show.html.erb</p>
    -->

    <div class="users-show-container">

        <% if current_user.id == @user.id %>
            <h1>My page</h1>
        <% else %>
            <h1>Users page</h1>
        <% end %>
        

        <p>名前 : <%= @user.name %></p>

        <% if current_user.id == @user.id %>
            <p>メールアドレス : <%= @user.email %></p>
        <% end %>
        
        <p>プロフィール : <%= @user.profile %></p>

        <% if current_user.id == @user.id %>
            <%= link_to "編集する", edit_user_registration_path, :class => "uers-show-edit-link" %>
        <% end %>

    </div>

    <br>
    <h3 class="users-show-maybuki-title">My武器</h3>

    <% @user.weapons.each do |t| %>

        <div class="users-show-container2">
            <div class="main-box">
                <div class="container1"><%= t.body %></div>
            </div>
            <div class="sub-box">
                <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_weapon_path(t.id)) %>
                <%= link_to content_tag(:i, '', class: 'fas fa-trash'), weapon_path(t.id), method: :delete, data: { confirm: "「#{t.body}」を削除して大丈夫ですか？" } %>
                <% end %>
                <p class="time"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></p>
            </div>  
        </div>
        <br>

    <% end %>
    
    <div class="users-show-container3">
        <%= link_to "ホーム画面に戻る", root_path, :class => "users-show-link" %>
    </div>

</html>

<style>

    .users-show-container{
        width: 30% ;
        margin: 0 auto;
        text-align: left;
        font-width: bolder;
    }

    .users-show-container2{
        width: 80% ;
        background-color: white;
        border: solid;
        border-color: gray;
        border-width: thin;
        border-radius: 24px;
        padding: 24px 24px 0px 24px;
        margin: 0 auto;
    }

    .users-show-container3{
        margin: 24px;
        text-align: center;
    }

    .users-show-link, .uers-show-edit-link{
        text-decoration: none;
        color: green;
    }

    .users-show-maybuki-title{
        text-align: center;
    }

</style>
