
<html>

    <!--
        <h1>Users#show</h1>
        <p>Find me in app/views/users/show.html.erb</p>
    -->

    <div class="users-show-container">

        <h1>My page</h1>
        <p>名前 : <%= @user.name %></p>

        <% if current_user.id == @user.id %>
            <p>メールアドレス : <%= @user.email %></p>
        <% end %>
        
        <p>プロフィール : <%= @user.profile %></p>

        <% if current_user.id == @user.id %>
            <%= link_to "編集する", edit_user_registration_path %>
        <% end %>

    </div>

    <div class="users-show-container2">
        <% @user.weapons.each do |t| %>
        <%= t.body %>
        <% end %>
    </div>
    
    <div class="users-show-container3"
        <%= link_to "ホーム画面に戻る", root_path, :class => "users-show-link" %>
    </div>

</html>

<style>

    .users-show-container{
        width: 30% ;
        margin: 0 auto;
        text-align: left;
        font-width: bolder;
    }

    .users-show-container2{
        width: 80% ;
        background-color: white;
        border: solid;
        border-color: black;
        border-radius: 24px;
        padding: 36px 24px 36px 24px;
        margin: 0 auto;
    }

    .users-show-container3{
        margin: 24px;
        text-align: center;
    }

    .users-show-link{
        text-decoration: none;
    }

</style>
