<html>

    <h1 class="home-menu-record-title">強くなる</h1>

    <div class="home-menu-sign-wrapper">

        <div class="home-menu-record-thermometer-sign">
            <%= link_to '武器一覧', home_menu_weapon_path, :class => "home-menu-record-thermometer-sign-link" %>
        </div>
        
        <div class="home-menu-record-PSS4-sign">
            <%= link_to 'みんなの武器', weapons_path, :class => "home-menu-record-PSS4-sign-link" %>
        </div>

        <div class="home-menu-record-zatsudan-sign">
            <%= link_to 'if・thenプランニング', new_ifthen_path, :class => "home-menu-record-zatsudan-sign-link" %>
        </div>

    </div>

    <div class="home-menu-whiteboard-wrapper">

        <div class="home-menu-record-whiteboard-top">
            <div class="home-menu-record-thermometer-sign-1">
                <%= link_to '武器一覧', home_menu_weapon_path, :class => "home-menu-record-thermometer-sign-link" %>
            </div>
            <div class="home-menu-record-thermometer-note-1">
                ストレスを解消するのに有効な方法を掲載しています。ぜひ参考にしてください。<br>ログインせずとも利用できます。
            </div>
        </div>

        <div class="home-menu-record-whiteboard">
            <div class="home-menu-record-thermometer-sign-1">
                <%= link_to 'みんなの武器', weapons_path, :class => "home-menu-record-PSS4-sign-link" %>
            </div>
            <div class="home-menu-record-thermometer-note-1">
                他のユーザーが作った武器を見ることができます。参考になるものがあれば自分の武器リストにも取り入れてみましょう。自分で武器を作ることもできます。
            </div>           
        </div>

        <div class="home-menu-record-whiteboard">
            <div class="home-menu-record-thermometer-sign-1">
                <%= link_to 'if・thenプランニング', zatsudans_path, :class => "home-menu-record-zatsudan-sign-link" %>
            </div>
            <div class="home-menu-record-thermometer-note-1">
                最後のステップです。<br>「どのような条件下でストレスを感じるのか」と「ストレスを解消するためにどのような方法があるか」が分かったら、それらを組み合わせて、「もし・いつ、どうするか」を決めてください。<br>例えば、「イライラして汚い言葉を吐き始めたら、一度近くの公園まで散歩に行く。」「毎朝、20分瞑想をする。」のようにです。
            </div>
        </div>

    </div>


</html>