<html>

    <h1 class="home-menu-record-title">武器一覧</h1>

    <div class="home-menu-weapon-container">
        <%= link_to 'OURA RING', home_menu_weapon_ouraring_path, :class => "home-menu-weapon-each" %><br><br>
        <%= link_to 'プレバイオティクス', home_menu_weapon_prebiotics_path, :class => "home-menu-weapon-each" %><br><br>
        <%= link_to 'ベアフットランニング', home_menu_weapon_bearfootrunning_path, :class => "home-menu-weapon-each" %><br><br>
    </div>
    <div class="home-menu-weapon-link">
    <%= link_to 'みんなの武器を見る', weapons_path, :class => "home-menu-weapon-link-entity" %><br>
    <%= link_to '自分で武器を作る', new_weapon_path, :class => "home-menu-weapon-link-entity" %>
    </div>

</html>

<style>

    .home-menu-weapon-container{
        width: 50% ;
        margin: 0 auto;
        background-color: white;
        border: solid;
        border-color: black;
        border-radius: 24px;
        padding: 36px 24px 36px 24px;
    }

    .home-menu-weapon-each{
        text-decoration: none;
        color: green;
    }
    .home-menu-weapon-each:hover{
        color:red;
    }

    .home-menu-weapon-link{
        width: 50% ;
        margin: 0 auto;
        text-align: center;
    }

    .home-menu-weapon-link-entity{
        text-decoration: none;
    }
</style>