


<body>

    <% if user_signed_in? %>

        <div>
            <div class="graph">

                <canvas id="myChart" width="960" height="200">
                <script>
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                                labels: gon.time,
                                datasets: [{
                                    data: gon.sum,
                                    borderColor:"lightblue",
                                    backgroundColor:"rgba(173, 216, 230, 0.5)",
                                    pointBackgroundColor: "lightblue",
                                    pointBorderWidth: 2,
                                    pointHoverBackgroundColor: "#fff",
                                    pointHoverBorderWidth: 2,
                                }]
                        },
                        options: {
                            legend: { display: false },
                            scales: {
                                xAxes: [{
                                    gridLines: { display:false },
                                }],
                                yAxes: [{
                                    gridLines: {
                                    color: "rgba(0, 0, 0, .05)",
                                    }
                                }]
                            },
                        }
                    });
                </script>
                </canvas>
            
            </div>

            <div class="koremadenokiroku">
                <h3 class="koremade">これまでの記録</h3>
                <%= button_to "ストレス度順に並び替え", thermometers_show2_path, :class => 'btn-submit' %>
            </div>
            
            <!--
                <div class="commentary">
                    <p class="commentary-inner">最大値が100最小値が0です。値が大きいほど、ストレスがたまっています。50以上は要注意。今のうちに何かできる対策を講じることをお勧めします。75以上は一人で解決するのではなく、誰か他の人に相談するか病院に行った方が良いでしょう。</p>
                </div>
            -->

            <% @pss4.each do |t| %>
                <% if user_signed_in? && current_user.id == t.user_id %>
                    <div class="container-pss4">
                        <div class="main-box2">
                            <div class="container-pss4-1"><%= (([t.question1, t.question2, t.question3, t.question4].sum.to_f/16).to_f/0.01).round %></div>
                            <div class="pss4-index-mainbox-memo"><%= t.memo %></div>
                        </div>
                        <div class="sub-box2">
                        <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_tests_pssfour_path(t.id)) %>
                        <%= link_to content_tag(:i, '', class: 'fas fa-trash'), tests_pssfour_path(t.id), method: :delete, data: { confirm: "「#{(([t.question1, t.question2, t.question3, t.question4].sum.to_f/16).to_f/0.01).round}:#{t.memo}」を削除して大丈夫ですか？" } %>
                            <p class="time-pss4"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>  
                    </div>
                    <br>
                <% end %>
            <% end %>
        

        </div>

    <% else %>

        <div class="pleaselogin-container">
            <p class="pleaselogin">ログインユーザーのみ利用できます。</p>
            <div class="pleaselogin-button">
                <%= button_to "ログイン", new_user_session_path, method: :get, :class => "hello-index-login" %>
                <%= button_to "新規登録", new_user_registration_path, method: :get, :class=>"hello-index-sinki"  %>
            </div>
        </div>

    <% end %>

</body>