<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="show.scss" type="text/css">
</head>

<body>

  <div class="graph">
    <canvas id="myChart" width="960" height="200">
      <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                    labels: gon.time,
                    datasets: [{
                      data: gon.temperature,
                      borderColor:"orange",
                      backgroundColor:"rgba(255, 166, 0, 0.5)",
                      pointBackgroundColor: "orange",
                      pointBorderWidth: 2,
                      pointHoverBackgroundColor: "#fff",
                      pointHoverBorderWidth: 2,
                    }]
            },
            options: {
                legend: { display: false },
                scales: {
                  xAxes: [{
                      gridLines: { display:false },
                  }],
                  yAxes: [{
                      gridLines: {
                      color: "rgba(0, 0, 0, .05)",
                      }
                  }]
                },
            }
        });
      </script>
    </canvas>
  </div>


  <div class="ichiran">
    <div class="koremadenokiroku">
      <h3 class="koremade">これまでの記録</h3>
      <%= button_to "新着順に並び替え", thermometers_show_path, :class => 'btn-submit' %>
    </div>

    <% @thermometers.each do |t| %>
      <% if user_signed_in? && current_user.id == t.user_id %>
        <div class="container">
          <div class="main-box">
            <div class="container1"><%= t.temperature %></div>
            <div class="container2"><%= t.memo %></div>
          </div>
          <div class="sub-box">
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_thermometer_path(t.id)) %>
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), thermometer_path(t.id), method: :delete, data: { confirm: "「#{t.temperature}:#{t.memo}」を削除して大丈夫ですか？" } %>
            <p class="time"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>  
        </div>
        <br>
      <% end %>
    <% end %>

    <%= paginate @thermometers %>

  </div>

</body>

<script>
/*
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [ ], /*ここにcreated_atの値が入るようにしたい*/
            datasets: [{
                label: 'temperature',
                data: [ ],/*ここにtemperatureの値が入るようにしたい*/
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
*/
</script>