<!DOCTYPE html>
<html>

<body>

<% if user_signed_in? %>

  <div class="graph">
     <%= column_chart Thermometer.where(user_id: @user).pluck(:created_at, :temperature) %>
  </div>


  <div class="ichiran">
    
    <div class="koremadenokiroku">
      <h3 class="koremade">これまでの記録</h3>
      <%= button_to "ストレス度順に並び替え", thermometers_show2_path, :class => 'stressnarabikae' %>
    </div>

    
    <% @thermometers.each do |t| %>
      <% if user_signed_in? && current_user.id == t.user_id %>
        <div class="container">
          <div class="main-box">
            <div class="container1"><%= t.temperature %></div>
            <div class="container2"><%= t.memo %></div>
          </div>
          <div class="sub-box">
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_thermometer_path(t.id)) %>
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), thermometer_path(t.id), method: :delete, data: { confirm: "「#{t.temperature}:#{t.memo}」を削除して大丈夫ですか？" } %>
            <p class="time"><%= t.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>  
        </div>
        <br>　
      <% end %>
    <% end %>

    <%= paginate @thermometers %>

  </div>

<% else %>
    
  <div class="pleaselogin-container">
      <p class="pleaselogin">ログインユーザーのみ利用できます。</p>
      <div class="pleaselogin-button">
          <%= button_to "ログイン", new_user_session_path, method: :get, :class => "hello-index-login" %>
          <%= button_to "新規登録", new_user_registration_path, method: :get, :class=>"hello-index-sinki"  %>
      </div>
  </div>

<% end %>

</body>

<script>
/*
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [ ], /*ここにcreated_atの値が入るようにしたい*/
            datasets: [{
                label: 'temperature',
                data: [ ],/*ここにtemperatureの値が入るようにしたい*/
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
*/
</script>