<!DOCTYPE html>

<html>
  <head>
    <title>MentalBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- chart.js(https://medium.com/@railsthemes/how-to-work-with-chart-js-on-a-rails-6-application-fc4c990f0ef4) -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
    <!-- chart.js終わり -->

    <!-- gon(https://qiita.com/mosa_siru/items/e69eee47a183b13cfb62) -->
      <%= include_gon %>
    <!-- gon終わり -->

    <!-- lightbox(https://vastworld.org/code/737) -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
      </script>
    <!-- lightbox終わり -->
  </head>

  <body>

    <div class="wrapper">

      <header>
      
        <div class="title">
          
          <%=  link_to 'MentalBuilder' , root_path, :class => "headertext" %>

          <ul class="header-dropmenu">
            <li>
              <%= link_to '記録する', home_menu_record_path, :class => "list" %>
              <ul>
                <li><%= link_to 'thermometer', thermometers_new_path, :class => "list" %></li>
                <li><%= link_to 'PSS4', tests_pssfours_new_path, :class => "list" %></li>
                <li><%= link_to '雑談', new_zatsudan_path, :class => "list" %></li>
              </ul>
            </li>
            <li>
              <%= link_to '振り返る', home_menu_reflection_path, :class => "list" %>
              <ul>
                <li><%= link_to 'thermometer', thermometers_show_path, :class => "list" %></li>
                <li><%= link_to 'PSS4', tests_pssfours_path, :class => "list" %></li>
                <li><%= link_to '雑談', zatsudans_path, :class => "list" %></li>
              </ul>
            </li>
            <li>
              <%= link_to '強くなる', home_menu_arm_path, :class => "list" %>
              <ul>
                <li><%= link_to '武器一覧', home_menu_weapon_path, :class => "list" %></li>
                <li><%= link_to 'みんなの武器', weapons_path, :class => "list" %></li>
                <li><%= link_to 'if・thenプランニング', ifthens_path, :class => "list" %></li>
              </ul>
            </li>
          </ul>
          <ul class="header-dropmenu-2">
            <li class="header-list-login">
              <% if user_signed_in? %>
                <%= link_to 'マイページ', user_path(current_user.id), :class => "list-2" %>
              <% else %>
              <%= link_to "ログイン", new_user_session_path, :class => "list-2" %>
              <% end %>
            </li>
            <li class="header-list-login">
              <% if user_signed_in? %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "list-2" %>
              <% else %>
              <%= link_to "新規登録", new_user_registration_path, :class=>"list-2"  %>
              <% end %>
            </li>
          </ul>

        </div>

      </header>
      
      <%= yield %>

      <footer>
        <div class="footer">
            © 2020 GeekSalon
        </div>
      </footer>

    </div>

  </body>

</html>

